<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 border-b border-gray-200 mb-8">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Nnouvelle emploi du temps
  </h3>
  <p class="mt-2 max-w-4xl text-sm text-gray-500">
    Ici vous pouvez effectuer un ajout ou une modification de l'un de vos emploi du temps sur la plateforme concernant vos filières et salle de classe respectives.</p>
</div>


<%= render 'form', time_table: @time_table %>

<%= link_to 'Back', time_tables_path %>
