<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Formulaire d'ajout
      <br/>
      <span class="text-indigo-600">d'une nouvelle matière.</span>
    </h2>
  </div>
</div>
<br>
<%= form_with(url: import_matiere_form_url, class: "w-full mx-auto max-w-3xl bg-white shadow p-8 text-gray-700", id: "contact-me") do |form| %>
  <!-- component -->
  <style>
    /* RED BORDER ON INVALID INPUT */
    .check input:invalid {
      border-color: red;
    }

    /* FLOATING LABEL */
    .label-floating input:not(:placeholder-shown),
    .label-floating textarea:not(:placeholder-shown) {
      padding-top: 1.4rem;
    }

    .label-floating input:not(:placeholder-shown) ~ label,
    .label-floating textarea:not(:placeholder-shown) ~ label {
      font-size: 0.8rem;
      transition: all 0.2s ease-in-out;
      color: #1f9d55;
      opacity: 1;
    }

  </style>


    <h2 class="w-full my-2 text-3xl font-bold leading-tight my-5">Nouvelle matière</h2>
    <!-- name field -->
    <div class="flex flex-wrap mb-6">
      <div class="relative w-full appearance-none label-floating">
        <%= form.text_field :name, class: "tracking-wide py-2 px-4 mb-3 leading-relaxed appearance-none block w-full bg-gray-200 border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-gray-500", placeholder: "Libellé matière" %>
        <label for="name" class="absolute tracking-wide py-2 px-4 mb-4 opacity-0 leading-tight block top-0 left-0 cursor-text">
          Libellé matière
        </label>
      </div>
    </div>

    <!-- Message field -->
    <div class="flex flex-wrap mb-6">
      <div class="relative w-full appearance-none label-floating">
        <%= form.text_field :descriptioin, class: "autoexpand tracking-wide py-2 px-4 mb-3 leading-relaxed appearance-none block w-full bg-gray-200 border border-gray-200 rounded focus:outline-none focus:bg-white focus:border-gray-500", placeholder: "Description" %>

        <label for="message" class="absolute tracking-wide py-2 px-4 mb-4 opacity-0 leading-tight block top-0 left-0 cursor-text">Description ...        </label>
      </div>
    </div>

    <div class="">
      <%= form.submit "Valider", class: "w-full shadow bg-teal-400 hover:bg-teal-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %>

    </div>


<% end %>

<script>


    //RED BORDER ON INVALID INPUT
    document.getElementById('contact-me').addEventListener("invalid", function (event) {
        this.classList.add('check');
    }, true);


    // TEXT AREA AUTO EXPAND
    var textarea = document.querySelector('textarea.autoexpand');

    textarea.addEventListener('keydown', autosize);

    function autosize() {
        var el = this;
        setTimeout(function () {
            el.style.cssText = 'height:auto; padding: 1.4rem .2rem .5rem';

            el.style.cssText = 'height:' + el.scrollHeight + 'px';
        }, 0);
    }


</script>