<div x-data="{ sidemenu: false }" class="h-screen flex overflow-hidden" x-cloak @keydown.window.escape="sidemenu = false">

  <div class="md:hidden">
    <div @click="sidemenu = false" class="fixed inset-0 z-30 bg-gray-600 opacity-0 pointer-events-none transition-opacity ease-linear duration-300" :class="{'opacity-75 pointer-events-auto': sidemenu, 'opacity-0 pointer-events-none': !sidemenu}"></div>

    <!-- Small Screen Menu -->
    <div class="fixed inset-y-0 left-0 flex flex-col z-40 max-w-xs w-full bg-white transform ease-in-out duration-300 -translate-x-full" :class="{'translate-x-0': sidemenu, '-translate-x-full': !sidemenu}">

      <!-- Brand Logo / Name -->
      <div class="flex items-center px-6 py-3 h-16">
        <div class="text-2xl font-bold tracking-tight text-gray-800">Dashing Admin.</div>
      </div>
      <!-- @end Brand Logo / Name -->

      <div class="px-4 py-2 flex-1 h-0 overflow-y-auto">
        <%= render 'layouts/admin/admin_menu' %>
      </div>

    </div>
    <!-- @end Small Screen Menu -->
  </div>

  <!-- Menu Above Medium Screen -->
  <div class="bg-white w-64 min-h-screen overflow-y-auto hidden md:block shadow relative z-30">

    <!-- Brand Logo / Name -->
    <div class="flex items-center px-6 py-3 h-16">
      <div class="text-2xl font-bold tracking-tight text-gray-800">NAL ADMIN</div>
    </div>
    <!-- @end Brand Logo / Name -->

    <div class="px-4 py-2">

      <%= render 'layouts/admin/admin_menu' %>

      <div class="bg-orange-200 mb-10 p-6 rounded-lg mt-16">
        <h2 class="text-gray-800 text-lg leading-tight">Try <strong class="font-bold">Dashing Admin.</strong></h2>
        <p class="text-gray-800 text-lg mb-4 leading-tight">Premium for free!</p>

        <button class="shadow text-center w-full block bg-blue-500 hover:bg-blue-600 focus:outline-none focus:shadow-outline text-white font-semibold py-2 px-4 rounded-lg">
          30 Days Free Trail
        </button>
      </div>
    </div>
  </div>
  <!-- @end Menu Above Medium Screen -->

  <div class="flex-1 flex-col relative z-0 overflow-y-auto">
    <div class="px-4 md:px-8 py-2 h-16 flex justify-between items-center shadow-sm bg-white">
      <div class="flex items-center w-2/3">
        <input class="bg-gray-200 focus:outline-none focus:shadow-outline focus:bg-white border border-transparent focus:border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal hidden md:block placeholder-gray-700 mr-10" type="text" placeholder="Search...">

        <div class="p-2 rounded-full hover:bg-gray-200 cursor-pointer md:hidden" @click="sidemenu = !sidemenu">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-600"
               width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
               fill="none" stroke-linecap="round" stroke-linejoin="round">
            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
            <line x1="4" y1="6" x2="20" y2="6"/>
            <line x1="4" y1="12" x2="20" y2="12"/>
            <line x1="4" y1="18" x2="20" y2="18"/>
          </svg>
        </div>
        <div class="text-xl font-bold tracking-tight text-gray-800 md:hidden ml-2">Dashing Admin.</div>
      </div>
      <div class="flex items-center">

        <a href="#" class="text-gray-500 p-2 rounded-full hover:text-blue-600 hover:bg-gray-200 cursor-pointer mr-4">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
            <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
            <path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
          </svg>
        </a>

        <div class="relative" x-data="{ open: false }" x-cloak>
          <div @click="open = !open"
               class="cursor-pointer font-bold w-10 h-10 bg-blue-200 text-blue-600 flex items-center justify-center rounded-full">
            DA
          </div>

          <div x-show.transition="open" @click.away="open = false"
               class="absolute top-0 mt-12 right-0 w-48 bg-white py-2 shadow-md border border-gray-100 rounded-lg z-40">
            <a href="#" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">Edit
              Profile</a>
            <a href="#"
               class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">Account
              Settings</a>
            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600" %>
          </div>
        </div>
      </div>
    </div>

    <div class="md:max-w-6xl md:mx-auto px-4 py-8">

      <div class="bg-red-200 text-red-700 px-6 py-4 rounded-lg relative mb-5" role="alert" x-data="{ open: true }" x-show.transition="open">
        <div class="mr-4">
          <strong class="font-bold">Connecté en tant qu'administrateur</strong>
          <span class="block sm:inline">Attention, toutes actions effectuées dans ce compte est irreversible.</span>
        </div>

        <span class="cursor-pointer absolute top-0 bottom-0 right-0 hover:bg-red-100 hover:text-red-600 w-10 h-10 rounded-full inline-flex items-center justify-center mt-2 mr-3" x-on:click="open = false">
						<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<rect x="0" y="0" width="24" height="24" stroke="none"></rect>
							<line x1="18" y1="6" x2="6" y2="18"/>
							<line x1="6" y1="6" x2="18" y2="18"/>
						  </svg>
					</span>
      </div>

      <div class="flex items-center justify-between mb-8">
        <h2 class="text-xl font-bold text-gray-800">Dashboard</h2>

      </div>

     <%= yield %>

      <div class="py-10 text-center">
        <p class="text-gray-600">Created by
          <a class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300" href="https://twitter.com/mithicher">@mithicher</a>.
          Built with
          <a class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300" href="https://tailwindcss.com/">tailwindCSS</a>
          and
          <a href="https://github.com/alpinejs/alpine" class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300">AlpineJS</a>.
          Illustration from
          <a href="https://undraw.co/illustrations" class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300">https://undraw.co/illustrations</a>.
          SVG icons from
          <a href="https://github.com/tabler/tabler-icons" class="text-blue-600 hover:text-blue-500 border-b-2 border-blue-200 hover:border-blue-300">Tabler
            Icons</a>.</p>
      </div>
    </div>


  </div>
</div>