<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Dashboard
      <br />
      <span class="text-indigo-600">Votre interface de contrôle.</span>
    </h2>
  </div>
</div>

<%= pie_chart Course.where(user_id: current_user.id).group(:counter).count, donut: true %>

<%= current_user.id %>