<!-- Narrower side column -->
<div class="flex items-center justify-between mb-2">
  <h2 class="text-xl font-bold text-gray-500">Epreuves publiés</h2>

  <a href="#" class="text-blue-600 hover:text-blue-500 font-medium hover:bg-transparent">Nouvelle épreuve</a>
</div>