<!-- This example requires Tailwind CSS v2.0+ -->
<div class="pb-5 border-b border-gray-200 mb-8">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Nouvelle épreuve
  </h3>
  <p class="mt-2 max-w-4xl text-sm text-gray-500">
    Remplir le formulaire ci dessous pour effectuer des ajouts/modifications d'informations d'informations.</p>
</div>


<%= render 'form', epreufe: @epreufe %>

<%= link_to 'Back', epreuves_path %>
