<div class="demo-block">
  <iframe src="https://api.onlyoffice.com/editors/editor?method=pptxEditor&amp;lang=fr&amp;customer=ONLYOFFICE&amp;frameEditorId=placeholder" name="frameEditor" allowfullscreen="" onmousewheel="" allow="autoplay" width="100%" height="1000px" frameborder="0" align="top"></iframe>
</div>