<div class="demo-block">
  <iframe src="https://api.onlyoffice.com/editors/editor?method=docxEditor" name="frameEditor" allowfullscreen="" onmousewheel="" allow="autoplay" width="100%" height="1050px" frameborder="0" align="top"></iframe>
</div>