<div class="shadow-xl" role="alert">
  <div class="flex">
    <div class="bg-blue-500 w-16 text-center p-2">
      <div class="flex justify-center h-full items-center">
        <i class="material-icons text-white">info_outline</i>
      </div>
    </div>
    <div class="bg-white border-r-4 border-blue-400 w-full p-4">
      <div>
        <p class="text-gray-600 font-bold">Information box</p>
        <p class="text-gray-600 text-sm">Your message has been send to Jack</p>
      </div>
    </div>
  </div>
</div>